.idea
.git*

venv
media
static
tmp
coverage_html_report
seafile

docker-compose.yml

./progeo/__pycache__

./frontend/build
./frontend/node_modules
./frontend/dist
./frontend/package-lock.json
./frontend/.env.local
./frontend/.storybook

