SKIP_PREFLIGHT_CHECK=true

PROTOCOL="https"
BACKEND_PORT=8383
FRONTEND_PORT=3003

FRONTEND_URL="$PROTOCOL://dashboard.progeo.com"
FULL_BACKEND_URL="$PROTOCOL://api.progeo.com"
BACKEND_URL="api.progeo.com"

LOGIN_TIME=3600

REDIS_PASSWORD="~~~~~~~~~~~~"
REDIS_HOST="progeo-redis"
REDIS_PORT=6379

DJANGO_DATABASES="main_db;unit_tests;dev_null"
POSTGRES_DB="default"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_HOST="progeo-database"
POSTGRES_PORT=5435

DNS_FRONT_NAMES="dashboard.progeo.com localhost"
DNS_BACK_NAMES="api.progeo.com"

CERT_LOCAL="./docker/nginx/ssl"
CERT_PATH="/etc/nginx/ssl/"
CERT_FILE="progeo-local.crt"
CERT_KEY="progeo-local.key"

CELERY_ON_BOOT=1

CONTROLLER_SSID="Progeo-Controller"
CONTROLLER_PASSWORD="~~~~~~~~~~~~"
CONTROLLER_COUNTRY_CODE="DE"
