venv/

\.idea/

*\.pyc

django.env
django.env.*
\.env*

frontend/public/assets/hidden/**
frontend/dist/
frontend/stats.html

package-lock.json

static/**
media/**

!media/errors/
!media/errors/*.*
!media/setup
!media/backup
!media/exports
!media/uploads
!media/pdf-factory
!docker/nginx/conf.d

/seafile/

docker/nginx/backup
docker/nginx/conf.d/**
docker/nginx/ssl/

progeo/tests/*.json
.coverage
progeo/tests/_pytest.log
progeo/management/commands/dev.py
yfinance.cache
tmp/
