.filterButton {
  height: 36px;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0 14px;
  font-size: 15px;
}
